<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/hk-grotesk/HKGrotesk-Bold.otf</string>
		<string>Fonts/hk-grotesk/HKGrotesk-Medium.otf</string>
		<string>Fonts/hk-grotesk/HKGrotesk-Regular.otf</string>
		<string>Fonts/hk-grotesk/HKGrotesk-SemiBold.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array/>
		</dict>
	</dict>
</dict>
</plist>
